---
interface Props {
  class?: string;
}
---

<div class="bg-gradient-custom w-full p-10 sm:p-20" id="animated-intro">
  <div class="flex justify-center mx-auto flex-col gap-4 p-0 max-w-7xl">
    <h2 class="text-xl sm:text-2xl font-black text-white text-center sm:text-left mb-4">
      Maitrisez le volume profile en 90j pour un trading rentable
    </h2>
    <p class="text-white text-bold text-lg">
      Apprenez à utiliser tous les outils pour devenir un trader professionnel :
    </p>
    <p class="text-white text-bold text-lg">
      → Pourquoi 90% des traders perdent sur les marchés Découvrez les 7 erreurs courantes que les
      traders débutants font et qui fait qu’ils ne seront jamais rentable

      <p class="text-white text-bold text-lg">
        → Découvrez les indicateurs avancés des professionnels Vous verrez pourquoi le volume
        profile (depuis 1990 aux USA) est toujours utilisé aujourd’hui, et pourquoi l’orderflow est
        indispensable aujourd’hui en trading
      </p>

      <p class="text-white text-bold text-lg">
        → Une approche systématique (trading sans émotions) Une approche systématique et disciplinée
        pour maximiser ses chances d’être gagnant
      </p>
      <p class="text-white text-bold text-lg">
        → Ne pas risquer son capital pour décupler ses gains Utiliser le levier des prop firms pour
        ne pas risque son copital et démultiplier ses gainsi
      </p>
    </p>
  </div>
</div>

<style>
  .bg-gradient-custom {
    background: linear-gradient(147deg, #16192c 42%, #327ab4 100%);
  }
</style>
