---
import Card from './ui/Card.astro';
import Container from './container.astro';
import BackgroundImage from './ui/BackgroundImage.astro';
import Link from './ui/link.astro';

const resolvedImageWithDomain = new URL('/bg-alternative.jpg', Astro.site).toString();
---

<main class="flex place-items-center w-full">
  <BackgroundImage src={resolvedImageWithDomain} className="hero-section p-10">
    <Container>
      <div class="flex w-full flex-col justify-center rounded-lg mx-auto sm:p-10">
        <h3 class="text-primary font-black text-3xl mb-8 text-left">
          Ce que vous allez découvrir pendant ce semaine
        </h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <Card>
            <p class="text-black text-lg">Pourquoi les indicateurs classiques vous font perdre</p>
          </Card>
          <Card>
            <p class="text-black text-lg">
              Découvrez les indicateurs avancés pour un trading gagnant
            </p>
          </Card>
          <Card>
            <p class="text-black text-lg">Une approche systématique (trading sans émotions)</p>
          </Card>
          <Card>
            <p class="text-black text-lg">
              Ne pas utiliser son propre capital & démultiplier ses gains
            </p>
          </Card>
        </div>
        <div class="flex py-6 mt-4">
          <p class="text-xl">Découvrez les outils et techniques des professionnels</p>
        </div>
        <div class="flex justify-center items-center my-10">
          <Link href="#" style="primary">Rejoignez le défi</Link>
        </div>
      </div>
    </Container>
  </BackgroundImage>
</main>

<style>
  .hero-section {
    background-size: cover;
    background-position: bottom;
  }
</style>
