---
interface Props {
  className?: string;
}

import { fade } from 'astro:transitions';

const { className = '' } = Astro.props;
---

<div
  transition:animate={fade({ duration: '0.4s' })}
  class={`bg-white rounded-lg card p-6 text-primary ${className}`}
>
  <slot />
</div>

<style>
  .card {
    box-shadow: 0px 0px 5px 2px rgba(41, 134, 174, 0.8);
  }
</style>
